body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.575);
}

.header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
    z-index: 1000;
}
.name {
    font-size: 30px;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.list li a {
    text-decoration: none;
    color: white;
}
.home{
    margin-left: 10rem;
}
.middle{
    font-size: 30px;
    margin-top: 100px; 
    margin-left: 60px;
}
.image{
    margin-left: 45rem;
    margin-top: -13rem;
}
.about{
    font-size:30px;
}
.me{
    margin-left: 30rem;
}
.ra{
    margin-top: 100px;
    margin-bottom: -40px;
    font-size: 30px;
    margin-left: 33rem;
}
p{
    margin-left: 17px;
}
h1 {
    margin-left: 17px;
}
.img{
    width: 300px;
    margin-left: 58rem;
    margin-top: -34.5rem;
}
.skills{
    margin-top: 200px; 
    font-size: 30px;
    margin-left: 17px;
}
.skills>h3{
    margin-left: 30rem;
}
.projects{
    margin-top: 6rem;
    font-size: 30px;
}
.projects>h4{
    margin-left: 30rem;
}
.projects>ul{
    margin-left: 17px;
}
